body {
	background-color: #252525!important;
}

svg {
	height: 500px;
	width: 860px;
	margin: auto;
}

.logo {
	margin-right: 25px;
	float: left;
	font-weight: 900;
	color: #FFFFFF;
	font-size: 24px;
}

header {
	margin-top: 40px;
}

section {
	margin-top: 40px;
}

.btn-secondary-2 {
	color: #AAA;
	font-weight: 600!important;
	width: 40px;
	height: 40px;
	border-radius: 50%!important;
	background-color: #454545!important;
	border-color: #454545!important;
}

.btn-info {
	width: 160px;
}

ul {
	list-style-type: square;
}